        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box!important;
            -webkit-box-sizing: border-box!important;
            word-wrap: break-word!important;
        }
        img {
            border:0px;
        }
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6 {
            font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
        }

        body {
            margin: 0 0;
            font-size: 14px;
            background-image: none;
            background-size: cover;
            background-repeat: no-repeat;
            line-height: inherit
        }

        ._135editor {
            max-width: 100% !important;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 400;
            font-size: 18px
        }

        #edui_fixedlayer {
            z-index: 1000000 !important;
        }

        p {
            margin: 0 0;
            min-height: 1em;
        }

        table.noBorderTable td,
        table.noBorderTable th,
        table.noBorderTable caption {
            border: 1px dashed #ddd!important
        }

        table {
            margin-bottom: 10px;
            border-collapse: collapse;
            display: table;
            width: 100%!important
        }

        td,
        th {
            word-wrap: break-word;
            word-break: break-all;
            padding: 5px 10px;
            border: 1px solid #DDD
        }

        .edui-default td,
        .edui-default th {
            border: 0 none;
            padding: 0 0;
        }

        caption {
            border: 1px dashed #DDD;
            border-bottom: 0;
            padding: 3px;
            text-align: center
        }

        th {
            border-top: 2px solid #BBB;
            background: #f7f7f7
        }

        .ue-table-interlace-color-single {
            background-color: #fcfcfc
        }

        .ue-table-interlace-color-double {
            background-color: #f7faff
        }

        td p {
            margin: 0;
            padding: 0;
            width: auto;
            height: auto;
        }

        ul {
            padding-left: 0;
        }

        ul li {
            list-style: none;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 400;
            font-size: 18px
        }

        a,
        a:hover,
        a:focus {
            text-decoration: none;
        }

        .otf-poptools {
            width: auto;
        }

        .otf-poptools span {
            margin: 0 5px;
            cursor: pointer;
        }

        ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        ::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 16px #645654;
            /*rgba(60,60,60,0.5)*/
        }

        ::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #ddd;
        }

        :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #ddd;
        }

        ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #ddd;
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #ddd;
        }

        .popover {
            max-width: 360px;
        }

        .modal-backdrop.in {
            opacity: 0.8;
        }

        #insert-style-list .alert-warning {
            background-color: #fafafa;
            border: 0 none;
            margin: 0;
            color: #3a3332;
        }

        a {
            color: #2fa4e7;
            text-decoration: none;
        }

        #header-breadcrumb {
            display: none;
        }

        .footer-bottom {
            padding: 2px;
            font-size: 80%;
        }

        #maincontent {
            margin: 0;
            padding: 0;
        }

        #left-sidebar .ui-portlet {
            margin: 0px;
        }

        #left-side-affix {
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
        }

        #left-sidebar .btn-group .btn {
            padding: 4px 16px;
        }

        .modal-backdrop {
            z-index: 1000000;
        }

        .modal-open .modal,
        .modal {
            z-index: 1000050;
        }

        .mix {
            display: none;
        }

        .cke_reset_all,
        .cke_reset_all * {
            position: initial;
        }

        .affix {
            top: 0px;
            background-color: #FFF;
            z-index: 100;
            position: fixed;
        }

        .col-xs-6 {
            width: 49%;
        }

        .color-swatch {
            width: 20px;
            height: 20px;
            border-radius: 3px;
            cursor: pointer;
            float: left;
            margin: 4px 2px;
        }

        #all-style-color-panel .all-color-swatch {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            float: left;
            margin: 4px 2px;
        }

        .color-box {
            width: 16px;
            height: 16px;
            cursor: pointer;
            border: solid 1px #ddd;
            margin-top: 3px;
            float: left;
            margin-right: 5px;
        }

        .color-swatch:hover,
        .color-swatch.active {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-box-shadow: inset 1px 1px 1px #5b616d, 0 0 5px #45bcda;
            -moz-box-shadow: inset 1px 1px 1px #5b616d, 0 0 5px #45bcda;
            box-shadow: inset 1px 1px 1px #5b616d, 0 0 5px #45bcda;
        }

        .n1-1 > li {
            width: 100%;
            color: #dad9d8;
            text-align: center;
        }

        .n1-1 ul.dropdown-menu > li {
            width: 100%;
        }

        .n1-1 > li > a {
            display: block;
            line-height: 36px;
            color: #dad9d8;
            text-decoration: none;
            font-size: 14px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        }

        .n1-1 > li.active,
        .n1-1 > li > a:hover {
            background: #4c4342;
            text-decoration: none
        }

        .col-sm-4,
        .col-sm-6,
        .col-sm-2 {
            padding-right: 5px;
            padding-left: 5px;
        }

        #params-setting ul {
            padding: 0;
        }

        #params-setting .title {
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 3px;
            margin-bottom: 5px;
            margin-top: 15px;
            border-bottom: 1px solid #DDD;
        }

        #params-setting li {
            list-style: none;
        }

        #params-setting label {
            display: block;
            line-height: 18px;
            font-weight: normal;
        }

        #params-setting input {
            margin-right: 5px;
            margin-top: 3px;
            float: left;
        }

        .cke_button__source_label {
            display: none;
        }

        .cke_combo__font .cke_combo_text {
            padding-left: 5px;
            width: 60px;
        }

        .cke_combo__styles .cke_combo_text {
            width: 80px;
        }

        .cke_chrome {
            border: none;
            box-shadow: 0 0 1px 1px rgba(172, 181, 194, 0.56);
        }

        #editor-styles .nav > li > a {
            padding: 10px 5px;
            text-align: center;
        }

        #insert-style-list {
            background: rgba(255, 255, 255, 1);
        }

        #tpl-tab-content .style-list .pr {
            position: relative;
        }

        #tpl-tab-content .style-list .tpl-mask {
            position: absolute;
            background: rgba(60, 60, 60, 0.5);
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            color: #FFF;
            display: table-cell;
            text-align: center;
        }

        #tpl-tab-content .style-list .pr:hover .tpl-mask {
            display: block !important;
        }

        #tpl-tab-content .style-list .tpl-mask .fa {
            font-size: 32px;
            cursor: pointer;
        }

        #tpl-tab-content .editor-style-content {
            cursor: pointer;
        }

        #tpl-tab-content .style-list {
            margin-top: 20px;
            position: relative;
        }

        #tpl-tab-content .style-list .user-style-toolbar {
            position: absolute;
            right: 5px;
            bottom: 5px;
            display: none;
            color: #157ab5;
        }

        #tpl-tab-content .style-list .user-style-toolbar .fa {
            cursor: pointer;
        }

        #tpl-tab-content .style-list:hover .user-style-toolbar {
            display: block;
        }

        #tpl-tab-content .style-list .content,
        #template-modal-body .style-list .content {
            cursor: pointer;
            padding: 0 5px;
            overflow-x: hidden;
            overflow-y: hidden;
            box-shadow: 0 0 3px rgb(170, 170, 170);
        }

        #tpl-tab-content .style-list .tools,
        #template-modal-body .style-list .tools {
            display: none;
        }

        #tpl-tab-content .row {
            margin: 0 -5px;
        }

        .popover-content .btn {
            margin-top: 3px;
            padding: 1px 5px;
        }

        #more-popover .popover-content {
            padding: 5px 5px;
            width: 160px;
            max-width: 360px;
            height: 160px;
        }
        /* */

        #color-plan {
            right: 0px !important;
            width: 120px;
            top: 100px !important;
            left: auto !important;
            display: block !important;
            position: fixed;
            text-align: center;
        }

        #color-plan .nav-tabs > li > a {
            padding: 5px;
            color: #efefef;
            border: 0 none;
        }

        #color-plan .nav-tabs > li > a:hover {
            background: transparent;
            color: #FFF;
        }

        #color-plan .nav-tabs > li.active > a,
        #color-plan .nav-tabs > li.active > a:hover,
        #color-plan .nav-tabs > li.active > a:focus {
            background-color: #000;
            color: #FFF;
            border: 0 none;
        }

        #insert-style-list li .btn {
            display: none;
        }

        #insert-style-list li:hover .btn {
            display: inline;
        }

        #insert-style-list li {
            position: relative;
            background: #FFF;
            border-bottom: 1px dotted #ddd;
            padding: 10px 15px;
            cursor: pointer;
        }

        #insert-style-list li.active a,
        #insert-style-list li.active a:focus {
            background: transparent;
        }

        #insert-style-list img {
            max-width: 100%;
        }

        #insert-style-list li:hover {
            background: #f0f0f0;
        }

        #insert-style-list .nav > li {
            padding: 0 0;
        }

        #preview-msg-content *,
        #insert-style-list .ui-portlet-list > li * {
            max-width: 100%!important;
            font-size: 16px;
            margin: 0;
            padding: 0;
            font-style: normal;
            box-sizing: border-box!important;
            -webkit-box-sizing: border-box!important;
            word-wrap: break-word!important;
        }

        #insert-style-list .ui-portlet-list > li p {
            clear: both;
            margin: 0 0;
            line-height: 1.6;
        }

        #insert-style-list .ui-portlet-list > li p span,
        #insert-style-list .ui-portlet-list > li p strong {
            font-size: inherit;
        }

        #insert-style-list .origin {
            position: absolute;
            top: 5px;
            right: 5px;
            height: 20px;
            color: #FFF;
            font-weight: bold;
            font-size: 12px;
            padding: 2px
        }

        #insert-style-list iframe,
        #insert-style-list .video_iframe {
            background-color: #000000;
            width: 100% !important;
            position: static;
        }

        img {
            vertical-align: baseline;
            max-width: 100%;
        }
        /* fix Firefox - max-width images not working within fieldset */

        fieldset img {
            width: 100%;
            max-width: -moz-fit-content;
            max-width: -webkit-fit-content;
        }

        #editor-tpls-navtab > li,
        #editor-my-msgs > .nav-tabs > li {
            padding: 0 0;
        }

        .editor-nav .fa,
        .editor-nav .glyphicon {
            width: 20px;
            text-align: center;
            margin: 0 auto;
        }

        .w2 .col-md-4 {
            width: 100%;
        }

        .w2 .row {
            margin-left: -5px;
            margin-right: -5px;
        }

        #editor-my-msgs #wechat-article-list .col-md-4 .submsg-title {
            clear: both;
        }

        #editor-my-msgs #wechat-article-list .col-md-4 .submsg-title .title {
            font-size: 14px;
            font-weight: normal;
        }

        #style-operate-area .col-md-4,
        #editor-msg-list .col-md-4 {
            width: 100%;
        }

        #my-article-list .col-xs-4 {
            width: auto;
            padding: 5px;
        }

        #html-parsers-items .col-md-4 {
            width: 50%;
        }

        #html-parsers-items .col-md-4 img {
            height: 200px;
            text-align: center;
            max-width: 100%;
        }

        #html-parsers-items .appmsg {
            box-shadow: 0 0 3px rgb(170, 170, 170);
            margin: 10px 0;
            padding: 10px 0;
        }

        #bg-choose .default,
        #bg-choose .chooser {
            width: 20px;
            height: 20px;
            margin: 5px;
            cursor: pointer;
            border-radius: 2px;
        }

        #nav-header .nav>li>a {
            color: #FFF
        }

        #nav-header .nav .open > a {
            background-color: inherit;
        }

        #nav-header .nav>li>a:hover,
        #nav-header .nav>li>a:focus {
            color: #FFF;
            background-color: rgba(255, 255, 255, 0.2);
        }

        .small-height #nav-header {
            position: absolute;
            width: 140px;
            background: RGBA(255, 255, 255, 0.3);
            margin-left: 5px;
            padding: 10px 10px;
        }

        .small-height #nav-header .nav>li>a {
            width: 120px;
            text-align: right;
        }

        .small-height .open > .dropdown-menu {
            display: block;
            top: 0;
            left: 99%;
        }

        .small-height #login-menus,
        .small-height #login-links {
            margin-top: 20px;
        }

        .small-height #nav-header:hover {
            z-index: 1000;
        }

        #favor-colors .color-swatch {
            position: relative;
        }

        #favor-colors .color-swatch .fa {
            position: absolute;
            right: -5px;
            top: -5px;
            display: none;
        }

        #favor-colors .color-swatch:hover .fa {
            position: absolute;
            right: -5px;
            top: -5px;
            display: block;
        }

        #favor-colors .color-swatch .fa:hover {
            color: red;
        }

        .nav > li> a .user-unread-msgnum {
            background: #ff9900;
            color: #FFF;
            line-height: 16px;
            display: none;
            text-align: center;
            padding: 2px 3px;
            margin-left: 2px;
        }

        .editorslide {
            right: -80px;
            width: 80px;
            bottom: 30%;
            top: initial;
        }

        .editorslide:hover {
            z-index: 10;
        }

        .editorslide li {
            width: 80px;
        }

        #WxMsgContent {
            width: 100%;
        }

        #feedsModal {
            clear: none;
        }

        #nav-header {
            margin-left: 90px;
        }

        .edui-default .edui-editor-toolbarboxinner .edui-toolbar:nth-child(3) {
            background: none !important;
            border-bottom: 1px solid #DDD;
        }

        .edui-default .edui-for-fontfamily .edui-listitem-label {
            font-size: 16px !important;
        }

        @media (max-width: 1360px) {
            .n1-1 > li > a {
                font-size: 13px;
            }
            .editorBox {
                margin-left: 10%;
                width: 450px;
            }
            .editorslide {
                bottom: 15%;
                top: initial;
            }
            .show-edui-more .edui-default .edui-editor-toolbarboxinner .edui-toolbar:nth-child(3) {
                max-width: 450px;
            }
        }

        @media (max-width: 1180px) {
            .editorBox {
                margin-left: 30px;
            }
        }

        @media (max-width: 1100px) {
            #nav-header {
                margin-left: 80px;
            }
            .w1 {
                width: 80px !important;
            }
            .w2 {
                width: 324px;
            }
            .w3 {
                margin-left: 404px !important;
            }
            .editorBox {
                margin-left: 5px;
                width: 360px;
            }
            .editorslide {
                bottom: 5%;
                top: initial;
            }
            .show-edui-more .edui-default .edui-editor-toolbarboxinner .edui-toolbar:nth-child(3) {
                max-width: 360px;
            }
        }

        #full-page {
            min-width: 930px;
        }

        .modal-header h3 {
            margin: 0 10px;
        }

        .tpl-brush-helper {
            margin-bottom: 10px;
        }

        #image-list .col-sm-4 {
            margin-bottom: 20px;
            position: relative;
        }

        #image-list .appmsg {
            max-width: 110px;
            width: 110px;
            width: 120px;
            font-size: 12px;
            position: relative;
            text-align: center;
            background-color: rgba(237, 229, 224, 0.95);
            padding: 3px 3px 30px;
        }

        #image-list #images-list .appmsg {
            padding: 3px;
        }

        #image-list .appmsg .img-opr {
            position: absolute;
            text-align: left;
            width: 100%;
            bottom: 3px;
        }

        #image-list .appmsg .cover {
            height: 100px;
            width: 100px;
            vertical-align: middle;
            display: table-cell;
        }

        #image-list .appmsg img {
            max-height: 97px;
            cursor: pointer;
        }

        #image-preview {
            position: absolute;
            left: 0px;
            width: 100%;
            z-index: 100;
            color: red;
            text-align: center;
            overflow: hidden;
            background-color: #FFF;
            border: 10px solid #f3f3f3;
            display: none;
            top: 60px;
            padding: 20px 0;
        }

        #image-preview img {
            height: auto;
            width: auto;
            max-width: 100%;
            padding: 10px 10px;
            background-color: #fff;
        }

        ol.sync-article-list {
            list-style-type: none;
        }

        ol.sync-article-list li {
            cursor: pointer;
        }

        body.dragging,
        body.dragging * {
            cursor: move !important;
        }

        .dragged {
            position: absolute;
            top: 0;
            opacity: 0.5;
            z-index: 2000;
        }

        ol.sync-article-list li.placeholder {
            position: relative;
            margin: 0;
            padding: 0;
            border: none;
        }

        ol.sync-article-list li.placeholder:before {
            position: absolute;
            content: " ";
            width: 0;
            height: 0;
            margin-top: -5px;
            left: 0px;
            top: -4px;
            border: 8px solid transparent;
            border-left-color: red;
            border-right: none;
        }

        .appmsg_opr {
            text-align: center;
        }

        .appmsg_opr a {
            display: block;
            padding: 8px 0;
            font-size: 20px;
        }

        .article-msg {
            border-bottom: 1px solid #aaa;
            padding: 10px 0;
            cursor: pointer;
            position: relative;
            line-height: 1.8em;
        }

        .article-msg .title {
            font-size: 16px;
            font-weight: bold;
        }

        .article-msg .opr-edit {
            display: none !important;
        }

        .article-msg .cover {
            float: right;
            margin-left: 15px;
        }

        .article-msg img {
            width: 60px;
            height: 60px;
        }

        .article-msg .summary {
            clear: none;
        }

        .article-msg p {
            min-height: 0;
            clear: none;
        }

        #wechat-msg-mine-list .article-msg {
            cursor: default;
        }

        #wechat-msg-mine-list .appmsg_content {
            position: relative;
        }

        #wechat-msg-mine-list .appmsg_content img {
            width: 100%;
            height: 150px;
        }

        #wechat-msg-mine-list .appmsg_content p {
            position: absolute;
            bottom: 0px;
            padding: 5px 10px;
            width: 100%;
            background-color: rgba(55, 55, 55, 0.6);
        }

        #wechat-msg-mine-list .appmsg_content p a,
        #wechat-msg-mine-list .appmsg_content p a:hover {
            color: #FFF;
            text-decoration: none;
            cursor: pointer;
        }

        #wechat-msg-mine-list .article-msg p .wechat-edit {
            display: block !important;
            float: left;
            height: 60px;
            visibility: visible !important;
            cursor: pointer;
            font-size: 32px;
            width: 40px;
        }

        #wechat-msg-mine-list .appmsg_content p.appmsg_desc {
            display: none;
        }

        #wechat-msg-mine-list .submsg-title {
            clear: both;
            padding: 2px;
        }

        #wechat-msg-mine-list .appmsg_opr {
            border-top: 1px solid #ddd;
        }

        #wechat-msg-mine-list .article-msg {
            border-bottom: 0 none;
            padding-bottom: 0px;
        }

        #style_search_list ul > li {
            border-bottom: 1px solid #DDD;
            padding: 10px 15px;
            cursor: pointer;
        }

        #style-categories >li > ul > li {
            padding: 0 0;
        }

        #style-categories .open > .dropdown-menu {
            display: block;
            padding: 0 0;
            background: RGBA(0, 0, 0, 0.6);
            left: 0;
            top: 99%;
            padding: 0;
        }

        #style-categories .open > .dropdown-menu a {
            color: #333;
            line-height: 29px;
            padding: 0 20px;
        }

        #style-categories .open > .dropdown-menu a.active,
        #style-categories .open > .dropdown-menu a:hover {
            background: #2fa4e7;
            text-decoration: none;
        }

        .filter-adv:hover {
            background-position: 0 24px;
        }

        #editor-msg-list .delete-pop {
            padding-left: 0px;
        }

        .edui-default .edui-editor {
            background-color: transparent !important;
            width: 100% !important;
            border: 0 none !important;
        }

        .edui-default .edui-dialog-content {
            margin: 10px 5px;
        }

        .edui-default .edui-editor-toolbarbox,
        .edui-default .edui-editor-toolbarboxouter {
            width: 500px;
            z-index: 1000;
            border: 0 none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            background: transparent !important;
        }

        .edui-default .edui-editor-toolbarboxinner {
            padding: 0 !important;
        }

        .edui-default .show-edui-more .edui-editor-toolbarbox {
            height: 58px;
        }

        .edui-default .edui-editor-iframeholder {
            width: 80% !important;
            background: #FFF;
        }

        .show-edui-more .edui-editor-iframeholder {
            padding-top: 30px !important;
        }

        .edui-for-paragraph .edui-button-body {
            width: 40px !important;
        }

        .edui-for-fontfamily .edui-button-body {
            width: 50px !important;
        }

        .edui-for-fontsize .edui-button-body {
            width: 32px !important;
        }

        .CodeMirror {
            background-color: #FFF;
        }

        .edui-default .edui-toolbar .edui-combox .edui-combox-body {
            background-color: rgba(255, 255, 255, 0.3) !important;
        }

        .edui-default .edui-editor-bottomContainer {
            display: none;
        }

        .cp-app {
            z-index: 10000;
        }
        /*.S .cp-panel .cp-ctrl {display:none;}  .S .cp-panel .cp-col1*/

        .cp-panel .cp-bres {
            display: none;
        }

        .cp-panel .cp-bsav {
            width: 100% !important;
        }

        .cp-app .cp-raster {
            opacity: 1 !important;
            background: rgb(51, 51, 51) !important;
        }

        .cp-panel .cp-disp {
            background-color: #FFF;
            color: #333;
            background-image: none !important;
        }

        .S .hsv-h .cp-rgb {
            display: block !important;
        }

        .S .cp-hsv {
            display: none;
        }

        #right-fix-tab li {
            background: rgba(58, 51, 50, 0.8);
            border: 0 none;
            color: #FFF;
            font-size: 15px;
            float: none;
        }

        .nav-toolbars {
            display: inline-block;
            margin: 0px auto;
            border-bottom: 0 none !important;
            height: 60px;
        }

        .nav-toolbars > li {
            background: transparent !important;
            padding: 0 0 !important;
            border-bottom: 0 none !important;
        }

        .nav-toolbars > li > a {
            border: 0 none !important;
            padding: 5px 15px;
        }

        .nav-toolbars .open >a,
        .nav-toolbars .open >a:hover,
        .nav-toolbars .open >a:focus,
        .nav-toolbars > li > a.active,
        .nav-toolbars > li > a:hover,
        .nav-toolbars > li > a:focus {
            border: 0 none !important;
            background: transparent !important;
            padding: 5px 15px;
            color: #ff8124 !important;
            opacity: 1;
        }

        .nav-toolbars > li > a .icon135 {
            font-size: 22px;
        }

        .tooltip-inner {
            padding: 5px 10px;
            font-size: 12px;
            text-align: left;
            line-height: 20px;
            color: #fff;
            background-color: rgba(35, 35, 35, 0.85);
            word-wrap: break-word;
            word-break: break-all
        }

        #style-sorts .active {
            color: #ff8124;
        }

        #colors-tab-content .style-list {
            margin: 15px 3px 20px;
            box-shadow: 0 0 3px rgba(172, 165, 150, 0.5);
            background: #ede8de;
            padding: 0px;
            position: relative;
            border-radius: 2px;
        }

        #colors-tab-content .style-list:hover {
            z-index: 20;
            box-shadow: 0 0 5px rgba(172, 165, 150, 0.5);
        }

        #colors-tab-content .style-list:hover .tools {
            display: block;
        }

        #colors-tab-content .style-list .content {
            background: #fefefe;
            padding: 13px;
        }

        #colors-tab-content .style-list .tools {
            text-align: left;
            width: 100%;
            padding: 15px;
            color: #FFF;
        }

        #colors-tab-content .style-list .tools a,
        .style-list .tools a:hover {
            text-decoration: none;
            color: #3a3332;
            font-size: 16px;
        }

        #colors-tab-content .style-list .tools .title {
            height: 24px;
            line-height: 24px;
        }

        #WxMsgViewForm .popover {
            padding: 0px;
            background: transparent;
        }

        #WxMsgViewForm .popover-content {
            background: rgba(58, 51, 50, 0.9);
        }

        #WxMsgViewForm .popover-content .btn {
            margin: 5px;
        }

        #WxMsgViewForm .popover.right > .arrow {
            border-right-color: transparent;
        }

        #WxMsgViewForm .popover.left > .arrow {
            border-left-color: transparent;
        }

        #WxMsgViewForm .popover.right > .arrow:after {
            border-right-color: rgba(58, 51, 50, 0.9);
        }

        #WxMsgViewForm .popover.left > .arrow:after {
            border-left-color: rgba(58, 51, 50, 0.9);
        }

        .more-popover-content .btn-xs {
            font-size: 12px;
            margin: 0px 0 5px;
            border-color: #FFF;
            color: #FFF;
            border: 0 none;
            background: transparent;
            color: #FFF;
            border: 1px solid #FFF;
        }

        #user-draft-chooser .popover {
            max-width: 400px;
            width: 400px;
            top: 5px !important;
        }

        #user-draft-chooser .popover.right > .arrow {
            top: 50px;
        }

        #user-draft-chooser .modal-dialog {
            width: 464px;
        }

        #fileuploadinfo_WxMsgCoverimg {
            position: absolute;
            right: 0;
            top: 0;
        }

        #fileuploadinfo_WxMsgCoverimg img {
            max-width: 200px;
        }

        #edui_fixedlayer ~ div iframe {
            display: none;
            opacity: 0;
        }

        .modal-body div iframe {
            display: inline-block !important;
            opacity: 1 !important;
            width: 100%;
        }

        #btn-show-drafts {
            display: none;
        }

        .jGrowl.bottom-right {
            bottom: 36px;
        }

        .jGrowl .jGrowl-notification,
        .jGrowl .jGrowl-closer {
            margin: 5px;
            padding: 15px 20px;
            min-width: 200px;
            position: relative;
        }

        .jGrowl .jGrowl-notification .jGrowl-close {
            float: none;
            position: absolute;
            right: 10px;
            top: 5px;
        }

/*footer代码*/
 * {
     margin:0;
     padding:0;
 }
 .clear {
     clear:both;
 }
 a {
     color:#000;
     text-decoration: none;
 }
 #title_section {
    width:100%;
    text-indent:5%;
    position: relative;
    margin-bottom:24px;
    background: red;
}
#title {
    color:#fff;
    font-size:20px;
}
#subtitle {
    color:#fff;
    font-size:14px;
    line-height:40px;
}
#content {
    width:90%;
    margin:auto;
    padding-bottom:36px;
}
footer {
    width:90%;
    margin:auto;
}
footer .icon-list {
    width:100%;
    margin-bottom:10px;
    border-top:1px solid #e2e2e2
}
footer .icon-list li p {
    color:#9c9c9c;
    font-size:12px;
    text-align:center;
}
footer .icon-list p.share {
    font-size:14px;
    color:#909090;
    background-color: #fff;
    width:20%;
    text-align: center;
    position: relative;
    top:-9px;
    left:38%;
}
footer .icon-list ul#icon li {
    float: left;
    width:24%;
    padding-bottom:8px;
}
footer .icon-list ul#icon li p img {
    width:35%;
}
footer .product-list {
    width:100%;
    background:#FCFCFC;
    border:1px solid #e2e2e2;
}
footer .product-list p.related {
    color:#df3031;
    font-size:14px;
    height:40px;
    line-height:40px;
    text-indent:12px;
}

footer .product-list ul#product li {
    width:100%;
    padding:12px 0px;
    text-indent: 12px;
    border-top:1px solid #e2e2e2;
}

footer .product-list ul#product li p img {
    height:auto;
    width:110px;
    vertical-align: middle;
}
footer .product-list ul#product li p.pic {
    width:110px;
    height:70px;
    float:left;
    overflow: hidden;
}
footer .product-list ul#product li p.pic a {
    height:70px;
    display: table-cell;
    vertical-align: middle;
}
footer .product-list ul#product li p.words {
    color: #666;
    font-size:12px;
    padding:25px 0px 0px 0px;
    float:left;
    font-weight: bold;
}

footer .article-list {
    background:#FCFCFC;
    border:1px solid #e2e2e2;
    margin:10px 0px;
    width:100%;
}
footer .article-list p.related {
    color:#df3031;
    font-size:14px;
    height:40px;
    line-height:40px;
    text-indent:12px;
}
footer .article-list .tag-list {
    padding:10px 0px 10px 12px;
    border-top:1px solid #e2e2e2;
}
footer .article-list .tag-list ul li {
      float:left;
      border:1px solid #4682c5;
      border-radius: 25px;
      margin-right:15px;
  }
footer .article-list .tag-list ul li a {
    color:#4682c5;
    font-size:12px;
    display:inline-block;
    padding:8px 10px;
}
footer .article-list ul#article li {
    width:100%;
    padding:12px 0px;
    text-indent: 12px;
    border-top:1px solid #e2e2e2;
}
footer .article-list ul#article li p img {
    height:auto;
    width:110px;
    vertical-align: middle;
}
footer .article-list ul#article li p.pic {
    width:110px;
    height:70px;
    float:left;
    overflow: hidden;
}
footer .article-list ul#article li p.pic a {
    height:70px;
    display: table-cell;
    vertical-align: middle;
}
footer .article-list ul#article li p.words {
    color: #666;
    font-size:12px;
    padding:10px 0px 8px 0px;
    font-weight: bold;
}
footer .article-list ul#article li p.time {
    color:#999;
    font-size:12px;
    line-height:0px;
    float: left;
}

#fail_section {
    width:90%;
    margin:auto;
}
#fail_section p {
    width:100%;
    text-align:center;
}
#fail_section p img {
    width:100%;
    height:auto;
}

figure {
  position: absolute;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 6.250em; height: 6.250em;
  animation: rotate 2.4s linear infinite;
}
.white {
  top: 0; bottom: 0; left: 0; right: 0;
  background: white;
  animation: flash 2.4s linear infinite;
  opacity: 0;
}
.dot {
  position: absolute;
  margin: auto;
  width: 2.4em; height: 2.4em;
  border-radius: 100%;
  transition: all 1s ease;
}
.dot:nth-child(2) { top: 0; bottom: 0; left: 0; background: #FF4444; animation: dotsY 2.4s linear infinite; }
.dot:nth-child(3) { left: 0; right: 0; top: 0; background: #FFBB33; animation: dotsX 2.4s linear infinite; }
.dot:nth-child(4) { top: 0; bottom: 0; right: 0; background: #99CC00; animation: dotsY 2.4s linear infinite; }
.dot:nth-child(5) { left: 0; right: 0; bottom: 0; background: #33B5E5; animation: dotsX 2.4s linear infinite; }

@keyframes rotate {
  0% { transform: rotate( 0 ); }
  10% { width: 6.250em; height: 6.250em; }
  66% { width: 2.4em; height: 2.4em; }
  100%{ transform: rotate(360deg); width: 6.250em; height: 6.250em; }
}

@keyframes dotsY {
  66% { opacity: .1; width: 2.4em; }
  77%{ opacity: 1; width: 0; }
}
@keyframes dotsX {
  66% { opacity: .1; height: 2.4em;}
  77%{ opacity: 1; height: 0; }
}

@keyframes flash {
  33% { opacity: 0; border-radius: 0%; }
  55%{ opacity: .6; border-radius: 100%; }
  66%{ opacity: 0; }
}